/* Define color variables */
:root {
  --pink: #ff69b4;
  --light-pink: #ffc0cb;
  --blue: #0000ff;
  --light-blue: #add8e6;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--light-blue);
  color: var(--blue);
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: var(--pink);
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 2.5em;
}

p {
  color: var(--blue);
  font-size: 1.1em;
  margin-bottom: 15px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

h2 {
  color: var(--light-pink);
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.5em;
}

h3 {
  color: var(--blue);
  margin-top: 30px;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.5em;
}

form {
  background-color: var(--light-pink);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto 30px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--blue);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--blue);
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  height: 100px;
}

button {
  background-color: var(--pink);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--blue);
}

footer{
    background-color: #111;
    color:#fff;
    text-align:center;
    padding:20px 10px;
    font-size:14px;
    margin-top:40px;
}

footer .footer-content p{
    margin:5px 0;
}